@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-mono: "Courier New", Courier, "Lucida Console", Monaco, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(98.5% .002 247.839);
    --foreground: #a19e9e;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

td, tr {
  color: #0a0a0a;
}

